h2{
   color: #0072E5;
   font-size: 0.875rem !important;
   line-height: 1.5 !important;
   font-weight: bold;
}
header{
   font-size: 2rem !important; 
   font-weight: 800;
   line-height: 1.4em;
   margin-bottom: 20px;
   margin-top: 10px;
}
span{
   color: #3470b1;

}
.card{
   background-color: #fff;
    color: #20262D;
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
    border: 1px solid #E5E8EC;
    background-color: #fff;
    display: block;
    border-color: #E5E8EC;
    padding: 17px;
    height: 100%;
}
i{
   color:#007fff;
   margin-right: 10px;
   font-size: 20px;
}

.title{
   display: flex;
   align-items: center;
   margin-bottom: 20px;

}
.title h5{
   margin: 0 !important;
    line-height: 1.5 !important;
    letter-spacing: 0 !important;
    text-align: left;
    color: #20262D;
}
.content{
   font-size: 15px !important;
   line-height: 1.5em !important;
}

@media screen and (max-width: 600px) {
  
}