.img-container img{
    width: 110px;
    aspect-ratio: auto 100 / 52;
    height: 52px;
    object-fit: contain;
    object-position: center;
}
.img-container{
    padding: 40px;
    margin-top: 40px;
}
.companies{
    width: 90%;
    padding: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
}
.container{
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
}
.info-abt-compaines p{
    margin-top: -20px !important;
    margin-bottom: 60px;

}

@media screen and (max-width: 600px){
   .companies{
       display: grid;
       grid-template-columns: auto auto auto;
   }
   .companies:last-child{
       display: none !important;
   }
   .img-container{
    padding: 30px 10px;
    margin-top: 10px;
    }
}