footer{
    border-top: 1px solid rgba(185, 184, 184, 0.815);
    width: 100%;
    margin-top: 150px;
    padding-top: 50px;
}
.footer_container{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;


}
footer h2{
    color: #696969 !important;
    font-size: 16px;
}
.quick-links{
    display: flex;
    justify-content: space-between;
}
footer h1{
    font-size: 1.25em;
    font-weight: bolder;
    margin: 0 !important;
    padding: 0 !important;
}
ul{
    margin-left: -20px;
}
li{
    margin-top: 20px;
}
.support-links{
    display: flex;
    /* align-items: center ; */
    flex-direction: column;
    margin-left: 40px;
}