footer{
    border-top: 1px solid rgba(185, 184, 184, 0.815);
    width: 100%;
    margin-top: 150px;
    padding-top: 50px;
}
.footer_container{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 20px;
}
footer h2{
    color: #696969 !important;
    font-size: 16px;
}
.quick-links{
    display: flex;
    align-items: baseline;
    align-content: flex-start;
}
footer h1{
    font-size: 1.25em;
    font-weight: bolder;
    margin: 0 !important;
    padding: 0 !important;
}
.footer-details h2{
    font-size: 17px !important;
    margin-top: 10px;
}
ul{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0;
    margin-left: 50px;
}
li{
    margin-top: 15px;
    list-style: none;
    color: grey;
}
@media screen and (max-width: 700px) {
    .footer_container{
        display: block !important;
    }
    .quick-links{
        display: block;
        margin-top: 30px;
    }
    ul{
        margin-left: 0;
        margin-top: 20px;
    }
}