@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans';
}
*{
    box-sizing: border-box;
}


.sign-in-header{
    color: #A5D8FF;
    font-size: 3em;
    width: 70%;
    line-height: 55px;
    font-weight: bold;
    /* padding: 20px; */
}

.section-two{
    width: 20%;
}

.homepage-btn{
    width: 100% !important;
    padding: 10px 15px !important;
    background-color: white !important;
    color: #1e83cf !important;
}
.mobile-nav{
    /* display: none; */
}

@media screen and (max-width: 604px){
    .laptop-nav{
        display: none !important;
    }
    .mobile-nav{
        display: flex !important;
    }
}