.banner_container{
    margin-top: 60px;
}
.banner-info{
    margin-top: 120px;
    margin-left: 20px;
}
.banner-info h1{
    font-size: 2.4rem !important;
    font-weight: 800;
    line-height: 1.4em !important;
    color: #0A1929;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 500px !important;
}
.banner_grid_two{
    width: 93%;
    margin-top: 50px;
}
.banner_grid_two img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
span{
    color: #3470b1; 
}



 @media screen and (max-width: 900px){
     .banner-info{
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         margin-top: 120px;
         margin-left: 0;
         margin-right: 0;
     }
    .banner_grid_two{
        display: none !important;
    }
    .banner-info h1{
        font-size: 2rem !important;
        text-align: center;
        margin-bottom: 50px;
    }
    .banner-info p{
        padding: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 430px) {
    .banner-info{
        margin-top: 100px;
    }
    .banner-info h1{
        font-size: 1.7em !important;
        margin-bottom: 40px;
    }
    .banner-info p{
        padding: 10px;
        text-align: center;
    }
    
}